@media (max-width: 720px) {

    .pagina-consultarservicos {

        .botoes {
            margin-top: 20px;
            margin-right: 0px;
            align-self: center;
        }

        .tabela {
            align-self: center;

            table {
                max-width: 480px;

                td,
                th {
                    font-size: 13px
                }
            }
        }
    }


}