.cabecalho {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 5px 60px;
    justify-content: space-between;
    max-width: 1920px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
    

    .logo {
        display: flex;
        flex-direction: row;
        &:hover {
        scale: 110%;
        transition: 0.7s;
        }

        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1e357b;
            font-size: 20px;
            font-family: "dolce";
        }
    }

   }


    .links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;

        

        a {
            color: #1e357b;
            text-decoration: none;
            font-size: 17px;
            &:hover {
                color: #000; 
                scale: 110%;
                transition: 0.7s;
            }
        }
    }

    .area {
        display: flex;
        align-items: center;
        padding: 18px;
        &:hover {
            scale: 110%;
            transition: 0.7s;
        }

        button {
            background-color: #011b6a;
            color: #fff;
            border: 0px;
            border-radius: 5px;
            font-size: 17px;
            width: 70px;
            height: 30px;
        }
    }

    @media (max-width: 720px) {
        .cabecalho {
            flex-direction: column;
            padding: 10px 20px; 
    
            .logo {
                justify-content: center;
                margin-bottom: 10px;
            }
    
            .links {
                flex-direction: row;
                gap: 10px; 
                align-items: center; 
            }
    
            .area {
                justify-content: center;
                margin-top: 10px; 
            }
        }
    }