.cabecalho {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 5px 60px;
    justify-content: space-between;
    max-width: 1200px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    

    .logo {
        display: flex;
        flex-direction: row;
 

        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1e357b;
            font-size: 20px;
            font-family: "dolce";
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;

        a {
            color: #1e357b;
            text-decoration: none;
            font-size: 17px;
        }
    }

    .area {
        display: flex;
        align-items: center;
        padding: 18px;

        button {
            background-color: #011b6a;
            color: #fff;
            border: 0px;
            border-radius: 5px;
            font-size: 17px;
            width: 70px;
            height: 30px;
        }
    }
}