.secao5 {
    background-color: #0e1836;
    padding: 20px;

    h2 {
        text-align: center;
        font-size: 30px;
        color: #fff;
       
    }

    .sobre {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 25px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}