.secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .botao {
        padding: 10px 25px;
        background-color: transparent;
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
    }

    .botao:hover {
        scale: 110%;
        transition: 0.7s;
        border-radius: 10px;
        background-color: white;
        color: black;

    }

    .titulo{
        margin: 0;
        padding: 0;
    }

    

    .incio {
        position: relative;
        background-image: url('../../../public/images/banhe.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

    }

    h1,
    h2 {
        font-family: "champagne2";
        letter-spacing: 2px
    }

    p {
        font-size: 20px;
        font-family: "champagne2";
        text-align: center;
        line-height: 25px;
    }

    .logo {
        display: flex;
        align-items: center;

        h1 {
            font-family: 'dolce';
            letter-spacing: 3px;
            font-size: 38px;
        }

    }

}

