.secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgFundo {
        background-image: #162f79;
        opacity: 0.5;
    }

    .textos {
        color: #fff;
        position: absolute;
        
    }
}